:root {
    --color-primary: #8231D3;
    --color-secondary: #5840FF;
    --color-success: #01B81A;
    --color-info: #00AAFF;
    --color-warning: #FA8B0C;
    --color-danger: #FF0F0F;
    --color-third: #8231D3;
    --color-white: #ffffff;
    --bg-primary-hover: #6726A8;
    --bg-success-hover: #0D811D;
    --color-dark: #0A0A0A;
}

.modal-info .modal-body {
    padding-bottom: 10px
}

.modal-info .modal-footer {
    padding: .5rem .5rem 1rem;
    border-top: 0
}

.modal-info-body .modal-info-icon {
    margin: -2px 14px 0 0
}

.modal-info-body .modal-info-icon svg {
    width: 22px;
    color: var(--color-info)
}

.modal-info-body .modal-info-icon.primary svg {
    color: var(--color-primary)
}

.modal-info-body .modal-info-icon.danger svg {
    color: var(--color-danger)
}

.modal-info-body .modal-info-icon.success svg {
    color: var(--color-success)
}

.modal-info-body .modal-info-icon.warning svg {
    color: var(--color-warning)
}

.modal-info-body .modal-info-text h1,
.modal-info-body .modal-info-text h2,
.modal-info-body .modal-info-text h3,
.modal-info-body .modal-info-text h4,
.modal-info-body .modal-info-text h5,
.modal-info-body .modal-info-text h6 {
    margin-top: 0;
    margin-bottom: 10px;
    font-family: Jost, sans-serif;
    font-weight: 540;
    line-height: 1.2;
    color: var(--color-dark)
}

.modal-info .modal-body {
    padding-bottom: 10px
}

.btn-primary {
    color: var(--color-white);
    background-color: var(--color-primary);
    border-color: var(--color-primary)
}

.btn-primary:hover {
    color: var(--color-white);
    background-color: var(--bg-primary-hover) !important;
    border-color: var(--bg-primary-hover)
}

.btn-sm {
    font-size: 14px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding: 1px 20px;
    line-height: 2.4;
    font-weight: 600
}

.modal-content p:last-child {
    margin-bottom: 0
}


.modal-content .modal-footer .btn.btn-sm {
    line-height: 2rem
}

.modal-content .modal-footer {
    padding: .625rem
}

.modal-content p {
    font-size: 14px;
}

.btn-success {
    color: var(--color-white);
    background-color: var(--color-success);
    border-color: var(--color-success)
}
.btn-success:hover {
    color: var(--color-white);
    background-color: var(--bg-success-hover) !important;
    border-color: var(--bg-success-hover)
}